@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-sizing: border-box; */
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: black;
  /* margin: 10px; */
}
body {
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  padding: 80px 0;
}
header {
}
.pageAll {
  height: 100vh;
  border-bottom: 1rem solid #f99898;
  margin-top: -10px;
}
h1,
h2 {
}
h1 {
  /* letter-spacing: 1px; */
  font-weight: 700;
  font-size: 200%;
  word-spacing: 3px;
  margin-bottom: 30px;
}
h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 140%;
  word-spacing: 2px;
  margin-bottom: 20px;
}
nav {
  margin-bottom: 10px;
}
.hero-text p {
  font-size: 17px;
  color: black;
  font-weight: 400;
  margin-bottom: 20px;
}
.btn-full:link,
.btn-full:visited {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  font-size: 130%;
  position: absolute;
  font-weight: 900;
  background-color: #458df9;
  color: white;
  padding: 12px 15px;
  /* margin-bottom: 10px; */
}
.btn-full:hover,
.btn-full:active {
  background-color: #5698fa;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: black;
  font-weight: 700;
  font-size: 90%;
}
.btn-ghost:hover,
.btn-ghost:active {
  color: #5698fa;
}

.company {
  float: left;
}
.main-nav {
  float: right;
  font-size: 110%;
  font-weight: 500;
  margin-top: 17px;
}
.logo {
  float: left;
}
.company-name {
  float: right;
  margin: 25px 0 0 30px;
  list-style: none;
  margin-top: 20px;
}
.company-name li a {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 140%;
  word-spacing: 2px;
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
}
.main-nav li {
  display: inline-block;
}
.main-nav li a {
  list-style: none;
  text-decoration: none;
  margin-left: 60px;
}
.main-nav a:link,
.main-nav a:visited {
  color: rgb(0, 0, 0);
}
.main-nav a:hover,
.main-nav a:active {
  color: #2b7bf3;
}
.cont-nav a:link,
.cont-nav a:visited {
  color: #fff;
}
.hero-text {
  float: left;
  margin-top: 100px;
}
#map-img {
  float: right;
  margin-top: 30px;
  /* border: 1px solid red; */
  /* width: 25rem; */
  /* height: 30rem; */
  display: flex;
  flex-direction: column;
}

.dot-row {
  width: 100%;
  height: 2.5%;
  display: flex;
  margin: 0;
  /* background-color: green; */
}

.dot {
  width: 0.65rem;
  height: 0.65rem;
  background-color: #fbe3e3;
  border-radius: 5px;
  margin: 0.1rem;
}

.dot-primary {
  background-color: #2ea0df;
}
.margin {
  border: 15px solid #f99898;
  /* margin-top: 587px; */
}
/* section Contact Us */

.contact-page {
  box-sizing: border-box;
  background-image: linear-gradient(to right, white 50%, #6598e3 50%);
  height: 100vh;
  /* min-height: 100%; */
  padding-top: 10px;
}
/* .section-contactUs {
  padding-left: 695px;
  margin-top: -90px;

  /* margin-left: 200px; */
/* }  */
.contact-title {
  text-align: center;
  margin-top: -90px;
}
.contact-title h1 {
  margin: 50px 0;
}
.contact-title h1 span {
  color: #fff;
}
.half-color {
  /* position: ; */
  position: relative;
  /* font-size: 25px; */
  display: inline-block;
  color: #fff;
  /* font-family: "Chilanka", cursive; */
}
.half-color:before {
  content: attr(attribute);
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  overflow: hidden;
}
.section-contactUs h2 {
  text-transform: none;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  z-index: 1;
}
.left-page {
  margin: 230px 0 0 200px;
  left: 0;
}
.left-page p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: #837575;
  margin-bottom: 40px;
}
.left-page h1 {
  margin-bottom: 40px;
}
.cont-info {
  color: #6598e3;
  font-weight: 700;
}
.address-info {
  color: #f99898;
  margin-top: 5px;
}
.cont-info,
.address-info {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.right-page,
.left-page {
  /* font-size: 15px; */
}
.right-page {
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 230px;
  margin-right: -100px;
  /* margin-left: 1800px; */
  right: 0;
  font-weight: 500;
  font-size: 18px;

  /* float: right; */
  /* margin-top: -70px; */
}
.right-page h1 {
  padding-left: 150px;
  color: #fff;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 30px;
}
.section-form {
  color: #fff;
}
.submit-btn {
  color: #f99898;
  /* border: 1px solid yellow; */
  padding-left: 250px;
  width: 100%;
}
input[type="text"],
input[type="email"],
textarea {
  width: 50%;
  padding: 6px;
  border-radius: 1px;
  border: 3.5px solid #fff;
  background-color: #c0d1ea;
}
input[type="submit"] {
  background-color: #f99898;
  padding: 11px 18px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #f99898;
}
.demo {
  /* color: #fff; */
}
.path {
}
/* Section About Us */
.about-page {
  margin-top: 10px;
}
.about-page::before {
  content: "";
  position: absolute;
  width: 115%;
  height: 65%;
  top: 35%;
  left: -15%;
  z-index: -1;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none' %3E%3Cpath d='M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z' class='shape-fill' fill='%23F1E5E5' fill-opacity='1'%3E%3C/path%3E%3C/svg%3E");
  /* transform: rotate(180deg); */
  transform: scaleX(-1);
  /* transform: rotate(180deg); */
}
.section-aboutUs h1 {
  padding-left: 520px;
  margin-top: -40px;
}
.top-part p {
  /* background-image: url("data:image/svg+xml,%3Csvg width='1440' height='614' viewBox='0 0 1440 614' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_3:3578)'%3E%3Cpath d='M719 34.5C412.2 -112.3 79.8333 443.667 -48 740C542.167 764.5 1719.2 740.9 1706 450.5C1689.5 87.5 1428.5 181.5 1257.5 320C1086.5 458.5 1102.5 218 719 34.5Z' fill='%23F1E5E5'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_3:3578' x='-58' y='0.266968' width='1774.11' height='757.012' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='5' result='effect1_foregroundBlur_3:3578'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E"); */
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 25px;
  color: #837575;
  margin-left: 10px;
  margin-top: 35px;
  margin-bottom: 60px;
}
.division {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 20;
  overflow-x: hidden;
  z-index: 1;
}
.spot {
  left: 10;
  margin-left: 150px;
}
.covid {
  right: 0;
  margin-right: -140px;
}
.block {
  font-size: 19px;
  letter-spacing: 0.5px;
  line-height: 25px;
  word-spacing: 2px;
  width: fit-content;
  padding: 23px 45px 23px 23px;
  border-radius: 7px;
  color: #fff;
  font-weight: 700;
  z-index: 0;
}
.number {
  /* color: rgb(0, 0, 0); */
  font-size: 27px;
  font-weight: 700;
  /* border: 1px solid #fff; */
  border-radius: 50%;
  padding: 7px 15px;
  /* padding-right: 0; */
  width: fit-content;
  /* display: block; */
  background-image: linear-gradient(to right, #d1daef, #e4d3e1);
}
/* .number::after {
  z-index: 500;
} */
.number-2 {
  margin-left: 245px;
}
.number-3 {
  margin-top: 200px;
  margin-left: 550px;
}
.left-block {
  border: 1px transparent #f99898;
  margin-top: -25px;
  margin-left: 25px;
  background-color: rgb(249, 152, 152, 0.8);
}
.right-block {
  /* border: 1px solid #6598e3; */
  margin-top: -25px;
  /* margin-left: -250px; */
  background-color: rgb(101, 152, 227, 0.8);
}
.btm-block {
  /* border: 1px solid #c1aaf1; */
  background-color: rgb(193, 170, 241, 0.8);
  padding: 35px 30px;
  margin-left: 440px;
  margin-top: -25px;
}
/* .about-page {
  z-index: -1;
  background-image: url(wave.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;

} */
.section-aboutUs {
  /* background: #f1e5e5;
  text-align: center; */
  /* z-index: 1; */
}

.img {
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 350'%3E%3Cpath fill='%23F1E5E5' fill-opacity='1' d='M0 288L60 250.7C120 213 240 139 360 112C480 85 600 107 720 138.7C840 171 960 213 1080 224C1200 235 1320 213 1380 202.7L1440 192L1440 320L1380 320C1320 320 1200 320 1080 320C960 320 840 320 720 320C600 320 480 320 360 320C240 320 120 320 60 320L0 320Z' %3E%3C/path%3E%3C/svg%3E"); */

  /* background-image: u; */
  /* z-index: 0; */
  /* Vector 11 */

  /* width: 1500px; */
  /* margin-left: -50px; */
  /* overflow-x: hidden;
  overflow: hidden; */
}
.section-aboutUs .help {
  /* z-index: 20; */
}

/* .hidden {
  display: none;
}
.section-aboutUs,
.section-contactUs {
} */

/* Group 2 */
/* .logo1 {
  position: absolute;
  width: 97.5px;
  height: 97.5px;
  left: 110px;
  top: 10px;
}

/* Union */
/* .logo2 {
  position: absolute;
  width: 97.5px;
  height: 97.5px;
  left: 110px;
  top: 10px;

  background: #6598e3;
}

/* Vector 4 */
/* .logo3 {
  position: absolute;
  width: 97.5px;
  height: 29.53px;
  left: 110px;
  top: 41.56px;

  background: #6598e3;
}

/* Union */
/* .logo4 {
  position: absolute;
  width: 58.66px;
  height: 97.5px;
  left: 129.42px;
  top: 10px;

  background: #6598e3;
} */

/* <svg
        width="1535"
        height="509"
        viewBox="0 0 1535 509"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_f_3:3578)">
          <path
            d="M719 34.5C412.2 -112.3 79.8333 443.667 -48 740C542.167 764.5 1719.2 740.9 1706 450.5C1689.5 87.5 1428.5 181.5 1257.5 320C1086.5 458.5 1102.5 218 719 34.5Z"
            fill="#F1E5E5"
          />
        </g>
        <defs>
          <filter
            id="filter0_f_3:3578"
            x="-58"
            y="0.266968"
            width="1774.11"
            height="757.012"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"
            />
            <feGaussianBlur
              stdDeviation="5"
              result="effect1_foregroundBlur_3:3578"
            />
          </filter>
        </defs>
      </svg> */
/* Section Covid Guidance */
.guidance-page {
  /* z-index: -1; */
  /* background-image: url(graph-1.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  background-size: contain;
  overflow: hidden; */
  /* background-position-x: left;
  background-position-y: bottom; */
  /* height: 700px; */
  margin-top: 10px;
  /* padding: 0; */
  /* background-image: linear-gradient(to right, #fff 50%, rgb(211, 39, 39) 50%); */

  /* overflow: hidden; */
}
.covid-title {
  /* position: fixed; */
  /* margin-left: 650px; */

  margin-top: -30px;
  text-align: center;
}

.covid-nav {
  margin-top: 30px;
  /* border: 1px solid #fff; */
  /* box-shadow: 2px 2px 2px #aec9f2; */
  box-shadow: 0px 5px 20px 0 #aec9f2;
  width: fit-content;
  margin-left: 430px;
  border-radius: 10px;

  /* text-align: center; */
  padding: 20px 30px 20px 0px;
  background-color: rgba(255, 255, 255);
}
.covid-nav li {
  display: inline-block;
}
.covid-nav li a {
  color: #458df9;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 25px;
  word-spacing: 2px;
  /* color: #458df9; */
  margin-left: 30px;
  padding: 10px;
  border-radius: 16px;
}
.blue-border a:link,
.blue-border a:visited {
  color: #fff;
  /* border: 0.5px solid #fff; */
  background-color: #458df9;
}
.blue-border a:hover,
.blue-border a:active {
}
.covid-nav li a:link,
.covid-nav li a:visited {
  /* border: 0.5px solid #fff; */
  transition: color 0.5s, background-color 0.5s;
}
.covid-nav li a:hover,
.covid-nav li a:active {
  background-color: #458df9;
  color: #fff;
}
/* General Guidelines */
.general-page {
  margin-top: 10px;
}
.general-page::before,
.stateWise-page::before,
.operator-page::before,
.advisory-page::before {
  background-image: url("covid-bg-2.png");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  background-size: 90%;
  width: 100%;
  height: 100%;
  top: 0%;
  /* bottom: -10%; */
  /* transform: rotateZ(5deg); */
  z-index: -1;
}
/* .general-page::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 120%;
  height: 220%;
  bottom: -80%;
  left: -45%;
  z-index: -1;
} */
/* background-image: url("data:image/svg+xml;charset=utf8,%3C!--?xml version='1.0' standalone='no'?--%3E%3Csvg id='sw-js-blob-svg' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cdefs%3E%3ClinearGradient id='sw-gradient' x1='0' x2='1' y1='1' y2='0'%3E%3Cstop id='stop1' stop-color='rgba(193, 212, 241, 1)' offset='0%25'%3E%3C/stop%3E%3Cstop id='stop2' stop-color='rgba(193, 212, 241, 1)' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23sw-gradient)' d='M21,10.9C15.3,22,-9.5,20.9,-16.2,9.2C-22.8,-2.5,-11.4,-24.8,1,-24.2C13.4,-23.6,26.7,-0.2,21,10.9Z' width='100%25' height='100%25' transform='translate(50 50)' stroke-width='0' style='transition: all 0.3s ease 0s;' stroke='url(%23sw-gradient)'%3E%3C/path%3E%3C/svg%3E"); */
.diamond-icon {
  margin-left: 430px;
  margin-top: 70px;
}
.point {
}
.point p {
  margin-top: -26px;
  margin-left: 490px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 25px;
  word-spacing: 2px;
}
.point-2,
.point-3,
.point-4 {
  margin-top: -30px;
}
/* State Wise Guidelines */
.stateWise-page {
  margin-top: 10px;
}
.states-nav {
  /* border: 1px solid #2b7bf3; */
  width: fit-content;
  margin-left: 330px;
  margin-top: 40px;
  list-style: none;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 25px;
  word-spacing: 2px;
  padding: 20px 15px 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px 0 #aec9f2;
  background-color: #fff;
}
.states-nav li {
  margin-top: 10px;
  text-align: center;
}
/* .states-nav li:first-child {
  margin-top: 0;
  background-color: #458df9;
  padding: 10px;
  border-radius: 10px;
}
.states-nav li a:first-child {
} */
.states-nav li a:last-child {
}
.states-nav li a {
  text-decoration: none;
  color: #458df9;
}
.states-nav li a:link,
.states-nav li a:visited {
  padding: 10px;
}
.states-nav li a:hover,
.states-nav li a:active {
  /* border: 1px solid #458df9; */
  color: #fff;
  background-color: #458df9;
  border-radius: 10px;
  /* padding: 10px; */

  /* margin-bottom: 10px; */
}
.break-right {
  margin-top: -400px;
  margin-left: 140px;
}
/* .break {
  width: 30%;
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  z-index: 1;
} */
/* Operator Guidelines */
.operator-page {
  margin-top: 10px;
}
/* Travel Advisory */
.advisory-page {
  margin-top: 10px;
}
/* .advisory-page::before {
  content: "";
  position: absolute;
} */
.travel-title {
  text-align: center;
  margin-top: -35px;
}
.above-part p {
  /* text-align: center; */
  margin-left: 200px;

  color: #837575;
  font-size: 110%;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 25px;
  word-spacing: 2px;
  margin-top: -10px;
}
.travel-page {
}
.below-part {
  display: flex;
  margin-top: 20px;
  /* margin-left: 400px; */
}
.travel-pic {
  margin-left: 40px;
  margin-top: 60px;
  /* float: right; */
  width: 320px;
  height: 320px;
  border-radius: 7px;
}
.third-part {
  margin-left: 40px;
  margin-top: 70px;
}
.third-part p {
  font-size: 110%;
  font-weight: 400;
  /* letter-spacing: 0.5px; */
  line-height: 25px;
  word-spacing: 2px;
}
.travel-matter {
  margin-top: -50px;
  margin-left: -430px;
}
.point-no-1 p,
.point-no-2 p,
.point-no-3 p,
.point-no-4 p {
  margin-left: 470px;
  margin-bottom: -53px;
}
.point-no-1 {
  margin-top: 20px;
}
.section-advisory {
  margin: -100px 0 0;
  align-self: center;
}
